<div class="left_container">
  
  <div id="draft_status_container">
    <%= render "draft_status" %>
  </div>

  <div id="draft_board_container">
    <%= render "draft_picks" %>
  </div>
  
  <div id="mm_team_roster_container">
  </div>

</div>

<div class="right_container">

  <div id="draft_players_container">
    <%= render "draft_player_list" %>
  </div>

</div>

<div class="clear"></div>