<h1>View NCAA Team</h1>

<b>First Name:</b>
<%= @ncaa_team.school %><br/>
<b>Last Name:</b>
<%= @ncaa_team.nickname %><br/>

<%= link_to 'Edit', edit_admin_ncaa_team_path(@ncaa_team) %> |
<%= link_to 'Back', admin_ncaa_teams_path %>
