<div class="left_container">

    <div id="preferred_players_container">
        <%= render "shared/preferred_player_list" %>
    </div>
  
</div>

<div class="right_container">

  <div id="draft_players_container">
    <%= render "shared/draft_player_list" %>
  </div>

</div>

<div class="clear"></div>