<div class="left_container col-md-6">

  <div id="preferred_players_container">
    <%= render "shared/preferred_player_list" %>
  </div>

</div>

<div class="right_container col-md-6">

  <div id="draft_players_container">
    <%= render "shared/draft_player_list" %>
  </div>

</div>

<div class="clear"></div>