<h1>View NCAA Player</h1>

<p>
  	<b>First Name:</b>
  	<%= @mm_team.name %><br/>
  	<b>User Email:</b>
  	<%= @mm_team.user.email %><br/>
</p>

<%= link_to 'Edit', edit_mm_team_path(@mm_team) %> |
<%= link_to 'Back', mm_teams_path %>
