<% if !entry.is_play_in %>
	<div style='padding: 2px'>
	  	<div style='width: 20px' class="float-left"><%= entry.seed %></div>
	  	<span>
    		<%= collection_select("bracket_entry_#{entry.id}", :ncaa_team_id, NcaaTeam.all.order(:school), :id, :school, {:selected => entry.ncaa_team.id}) %>
  		</span>
	</div>
<% else %>
	<% if @previous_seed != entry.seed %>
		<div style='padding: 2px'>
			<div style='width: 20px' class="float-left"><%= entry.seed %></div>
			<span>PLAY-IN GAME WINNER</span>
		</div> 
		<% @previous_seed = entry.seed %>  
	<% end %> 	
<% end %>
