<div class="clear">
	<h2>Draft Order</h2>
	<table class="draft_order_table">
	  	<thead>
		    <tr>
		      <th class="pick">Pick #</th>
		      <th class="mm_team">Team Name</th>
		    </tr>
		</thead>
		<tbody>
		  <% @draft_picks.each do |pick| %>
		    <tr>
		      <td class="pick"><%= pick.overall_pick %></td>
		      <td class="mm_team">
		        <%= pick.mm_team.name %>
		      </td>
		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>