#bracket_container {
	padding:  5px;
	margin: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
/*	background-color: #D5DAE0;*/
}

div.bracket_list {
    float: left;
	height: auto;
	width: 210px;
    margin: 5px;
}

.bracket_table {
	width: 210px;
	background-color: #2A4D75;
	border: 0px;
}

    .bracket_table th {
        background-color: #2A4D75;
        color: #fff;
    }

        .bracket_table td {
            width: auto;
            background-color: #fff;
            padding: 2px 2px 2px 2px;
            text-align: center;
        }

            .bracket_table td.school {
                width: 130px;
                text-align: left;
            }