#draft_board_container {
	padding: 5px;
	border: 2px solid #C1D2EC;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	background-color: #fff;
}

	#draft_board_container_header {
		padding: 2px 0px 2px 0px;
		margin: 0px;
		font-size: 12px;
		background-color: #2A4D75;
		font-weight: bold;
		text-align: center;
		color: #fff;
	}

div.draftpicks_list {
	height: 430px;
	overflow: auto;
}

.draftpicks_table_headers {
	width: 450px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	/*background-color: #2E4764;*/
}

	.draftpicks_table_headers th.pick {
		width: 30px;
	}
	.draftpicks_table_headers th.mm_team {
		width: 220px;
	}
	.draftpicks_table_headers th.player {
		width: 150px;
	}
	.draftpicks_table_headers th.position {
		width: 60px;
	}

.draftpicks_table {
	width: 450px;
	background-color: #fff;
	border: 0px solid;
}

	.draftpicks_table td {
		padding: 2px 2px 2px 2px;
		text-align: center;
	}

	.draftpicks_table td.pick {
		width: 30px;
	}
	.draftpicks_table td.mm_team {
		width: 200px;
	}
	.draftpicks_table td.player {
		width: 140px;
	}
	.draftpicks_table td.position {
		width: 60px;
	}

tr.even {
	background-color: #E7F0FA;
}

tr.odd {
	background-color: #fff;
}

.current_user_team_selection {
    font-weight: bold;
    background-color: #FEE872;
}

.current_pick_selection {
    font-weight: bold;
    background-color: #CEE5C5;
}

#draft_status_container {
	padding:  5px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #C1D2EC;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	background-color: #fff;
}

	#draft_status_container div{
		display: inline;
		padding:  3px;
	}

	#draft_status_container div.label {
		font-weight: bold;
	}

.my_team_container {
	padding: 5px 5px 5px 5px;
}

div.my_team_list {
	width: 720px;
	height: 140px;
	overflow: auto;
}

.my_team_table_headers {
	border: 0px solid #000;
	color: #fff;
	background-color: #2E4764;
}

	.my_team_table_headers th.name {
		width: 120px;
	}
	.my_team_table_headers th.position {
		width: 50px;
	}
	.my_team_table_headers th.ppg {
		width: 40px;
	}
	.my_team_table_headers th.school {
		width: 120px;
	}
	.my_team_table_headers th.seed {
		width: 40px;
	}
	.my_team_table_headers th.region {
		width: 80px;
	}
    .my_team_table_headers th.points {
        width: 50px;
    }
	.my_team_table_headers th.status {
		width: 60px;
	}

.my_team_table {
	
	background-color: #fff;
	border: 0px solid;
}

	.my_team_table td {
		width: auto;
		padding: 2px;
		text-align: center;
	}

	.my_team_table td.name {
		width: 120px;
		text-align: left;
	}
	.my_team_table td.position {
		width: 50px;
	}
	.my_team_table td.ppg {
		width: 40px;
	}
	.my_team_table td.school {
		width: 120px;
	}
	.my_team_table td.seed {
		width: 40px;
	}
	.my_team_table td.region {
		width: 80px;
	}
    .my_team_table td.points {
		width: 50px;
	}
	.my_team_table td.status {
		width: 60px;
	}

#draft_players_container {
	padding:  5px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #C1D2EC;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	background-color: #fff;
}

	#draft_players_container_header {
		padding: 2px 0px 2px 0px;
		margin: 0px;
		font-size: 12px;
		background-color: #2A4D75;
		font-weight: bold;
		text-align: center;
		color: #fff;
	}

div.draft_players_list {
	height: 500px;
	overflow: auto;
	width: 410px;
}

.draft_players_table_headers {
	width: 410px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
/*	background-color: #C1D2EC;*/
}
	
	.draft_players_table_headers th.seed {
		width: 30px;
	}
	.draft_players_table_headers th.name {
		width: 130px;
	}
	.draft_players_table_headers th.position {
		width: 30px;
	}
	.draft_players_table_headers th.ppg {
		width: 40px;
	}
	.draft_players_table_headers th.school {
		width: 90px;
	}
	.draft_players_table_headers th.region {
		width: 30px;
	}
	.draft_players_table_headers th.action {
		width: 40px;
	}

	#draft_players_table {
		background-color: #fff;
		border: 0px solid;
	}

	#draft_players_table td {
		width: auto;
		padding: 2px 2px 2px 2px;
		text-align: center;
	}
	
		#draft_players_table td.seed {
			width: 50px;
		}
		#draft_players_table td.name {
			width: 160px;
			text-align: left;
		}
		#draft_players_table td.position {
			width: 40px;
		}
		#draft_players_table td.ppg {
			width: 30px;
		}
		#draft_players_table td.school {
			width: 130px;
		}
		#draft_players_table td.region {
			width: 40px;
		}
	
	.east_region {
		color: blue;
	}
	.west_region {
		color: red;
	}
	.southeast_region {
		color: purple;
	}
	.southwest_region {
		color: green;
	}


