<div id="mm_team_roster_container">
</div>

<div id="player_scoring_container">
</div>

<div class="left_container col-md-6">
  <div id="standings_container">
    <%= render "standings" %>
  </div>
</div>
<div class="right_container col-md-6">
  <div id="top_perf_container">
    <%= render "top_scorers" %>
  </div>
</div>
<div class="clear"></div>