<div id="mm_team_roster_container">

</div>

<div id="player_scoring_container">
	
</div>
<div class="left_container">
	<div id="standings_container">
	 	<%= render :partial => "standings" %>
	</div>
</div>
<div class="right_container">
	<div id="top_perf_container">
		<%= render :partial => "top_scorers" %>
	</div>
</div>
<div class="clear"></div>


