.admin_new_edit {
    background-color: #f9f9f9;
    height: 850px;
    padding: 10px;
    margin: 0px;
}

#admin_nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px; 
    padding-LEFT: 5px;
    font-size: 14px;
    color: #fff;
    float: left;

	a {
        text-decoration: underline;
        color: #E7772D;
	    &:link, &:visited {
	        color: #E7772D;
	    }
	    &:hover {
	        color: SaddleBrown;
	        text-decoration: none;
	    }
	    padding: 5px 5px 5px 5px;
	}    
}