#bracket_container {
    height: 850px;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
    img {
        border: 10px solid #DEDEDE;
    }
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}

#admin_bracket_container {
  background-color: #eee;
}

div.bracket_list {
    float: left;
    height: auto;
    width: 50%;
    margin: 5px;
}

.bracket_table {
    width: 210px;
    background-color: #2A4D75;
    border: 0px;
    th {
        background-color: #2A4D75;
        color: #fff;
    }
    td {
        width: auto;
        background-color: #fff;
        padding: 2px 2px 2px 2px;
        text-align: center;
        &.school {
            width: 130px;
            text-align: left;
        }
    }
}

div.south {
  float: left;
  height: auto;
  width: 300px;
  margin: 5px;
}

div.east {
  float: right;
  height: auto;
  width: 300px;
  margin: 5px;
}

div.west {
  float: left;
  height: auto;
  width: 300px;
  margin: 5px;
}

div.midwest {
  float: right;
  height: auto;
  width: 300px;
  margin: 5px;
}