#draft_board_container {
padding: 5px; }

#draft_board_container_header {
    padding: 2px 0px;
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #242424;
    text-shadow: 0 1px #FFF;
}

.draftpicks_table_headers {
    width: 100%;
    border-top: 2px solid #a3a3a3;
    border-bottom: 2px solid #a3a3a3;
    /*background-color: #2E4764;*/
    th {
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 10px;
        background: #FFF;
        &.pick {
            width: 10%;
        }
        &.mm_team {
            width: 40%;
        }
        &.player {
            width: 35%;
        }
    }
}

/*	.draftpicks_table_headers th.position {
width: 15%;
}*/

.draftpicks_table {
    width: 100%;
    background-color: #fff;
    border: 0px solid;
    height: 500px;
    overflow: auto;
    td {
        padding: 10px 2px;
        text-align: center;
        &.pick {
            width: 10%;
        }
        &.mm_team {
            width: 40%;
        }
        &.player {
            width: 35%;
        }
    }
}

tr {
    padding: 10px 5px;
    &.even {
        background-color: #EEE;
        border-bottom: 1px solid #E5E5E5;
    }
    &.odd {
        background-color: #F5F5F5;
        border-bottom: 1px solid #E5E5E5;
    }
    .no_border {
        border: none;
    }
}

tbody tr {
    &:hover {
        background-color: #FFF;
    }
}

.current_user_team_selection {
    font-weight: bold;
    background-color: #FFFFCC;
    color: #242424;
}

.current_pick_selection {
    font-weight: bold;
    background-color: #CEE5C5;
}

#draft_status_container {
    color: #000;
    width: 50%;
    .label{
        padding: 0 10px;
        span{
            font-weight: bold;
        }
    }
}

#draft_status_container_header {
    padding: 2px 0px;
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #242424;
    text-shadow: 0 1px #FFF;
}

div #mm_team_draft_picks {
    div {
        &.label {
            span{
                font-weight: bold;
            }
        }
    }
    ul {
        list-style-type: none;
        li {
            float: left;
            padding-right: 10px;
        }
    }
}

.my_team_container {
    padding: 5px 5px 5px 5px;
}

div.my_team_list {
    width: 740px;
    height: 140px;
    overflow: auto;
}

.my_team_table {
    background-color: #fff;
    border: 0px solid;
    display: block;
    thead{
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        background-color: #EEE;
        display: table;
        width: 800px;
        th {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: normal;
            padding: 0 5px;
            &.name {
                width: 150px;
            }
            &.jersey_number {
              width: 20px;
              text-align: left;
            }
            &.position {
                width: 55px;
            }
            &.ppg {
                width: 20px;
            }
            &.school {
                width: 150px;
            }
            &.seed {
                width: 0%;
            }
            &.region {
                width: 75px;
            }
            &.scoring {
              width: 100px;
            }
            &.status {
                width: 0%;
            }
        }
    }
    tbody {
        width: 100%;
        display: table;
    }
    td {
        width: auto;
        padding: 10px 5px;
        text-align: center;
        &.name {
            width: 150px;
            text-align: left;
        }
        &.jersey_number {
          width: 20px;
          text-align: left;
        }
        &.position {
            width: 55px;
        }
        &.ppg {
            width: 30px;
        }
        &.school {
            width: 150px;
            text-align: left;
        }
        &.seed {
            width: 25px;
        }
        &.region {
            width: 75px;
        }
        &.points {
          width: 14px;
        }
        &.status {
            width: 0%;
        }
    }
}

#draft_players_container {
    padding: 5px;
}

#draft_players_container_header {
    padding: 2px 0px 2px 0px;
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #000;
}

div.draft_players_list {
    height: 500px;
    overflow: auto;
    width: 100%;
}

.draft_players_table_headers {
    width: 100%;
    border-top: 2px solid #a3a3a3;
    border-bottom: 2px solid #a3a3a3;
    background: #F9F9F9;
    th {
        padding: 10px 0;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        &.seed {
            width: 10%;
        }
        &.name {
            width: 30%;
        }
        &.position, &.ppg {
            width: 10%;
        }
        &.school {
            width: 20%;
        }
        &.region {
            width: 10%;
        }
    }
}

#draft_players_table {
    background-color: #fff;
    height: 722px;
    overflow: auto;
    display: block;
    tbody {
        width: 100%;
        display: table;
    }
    td {
        width: auto;
        padding: 10px 2px;
        text-align: center;
        &.seed {
            width: 10%;
        }
        &.name {
            width: 30%;
            text-align: left;
        }
        &.position, &.ppg {
            width: 10%;
        }
        &.school {
            width: 20%;
        }
        &.region {
            width: 10%;
        }
    }
}

#preferred_players_container {
    padding: 5px;
    height: 100%;
}

#preferred_players_container_header {
    padding: 2px 0px 2px 0px;
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #000;
}

.preferred_players_table_headers {
    display: block;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    th {
        padding: 10px 5px;
        &.seed {
            width: 10%;
        }
        &.name {
            width: 30%;
        }
        &.position, &.ppg {
            width: 10%;
        }
        &.school {
            width: 20%;
        }
        &.region {
            width: 10%;
        }
    }
}

#preferred_players_table {
    width: 100%;
    display: block;
    tbody {
        width: 100%;
        display: table;
    }
    td {
        width: auto;
        padding: 10px 2px;
        text-align: center;
        &.seed {
            width: 10%;
        }
        &.name {
            width: 30%;
            text-align: left;
        }
        &.position, &.ppg {
            width: 10%;
        }
        &.school {
            width: 20%;
        }
        &.region {
            width: 10%;
        }
    }
}

div.regions_container {
    padding: 5px;
}

.east_region {
    color: blue;
    padding: 2px;
}

.west_region {
    color: red;
    padding: 2px;
}

.southeast_region {
    color: purple;
    padding: 2px;
}

.southwest_region {
    color: green;
    padding: 2px;
}

.draft_menu {
    background: #F1F1F1;
    border: 1px solid #D2D2D2;
    border-right: none;
    border-left: none;
    padding: 0 10px;
    display: block;
    position: relative;
    a{
        font-size: 11px;
    }
}

#my_team{
    position: absolute;
    z-index: 10;
    left: 45%;
}

.sub_draft_menu{
    background: #f5f5f5;
    padding: 10px;
    display: block !important;
    border-bottom: 1px solid #ccc;
    & > div{
        float: left;
    }
}