#standings_container_header {
    padding: 2px 0px 2px 0px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #242424;
    text-shadow: 0 1px #FFF;
}

.standings_table_headers {
    width: 100%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    th {
        text-transform: uppercase;
        padding: 10px 2px;
        background: #FFF;
        font-size: 11px;
        text-align: center;
        &.position {
            width: 10%;
        }
        &.team_name {
            width: 40%;
        }
        &.points {
            width: 15%;
        }
        &.games {
            width: 15%;
        }
        &.players_remaining {
            width: 30%;
        }
    }
}

.standings_table {
    width: 100%;
    background-color: #fff;
    height: 720px;
    display: block;
    width: 100%;
    overflow: auto;
    tbody {
        width: 100%;
        display: table;
    }
    tr {
        border-bottom: 1px solid #E5E5E5;

        &.even {
            background-color: #EEE;
        }
        &.odd {
            background-color: #F5F5F5;
        }
        &:hover {
            background-color: #FFF;
        }
    }

    td {
        width: auto;
        padding: 10px 2px;
        text-align: center;
        &.position {
            width: 10%;
        }
        &.team_name {
            width: 40%;
        }
        &.points {
            width: 15%;
        }
        &.games {
            width: 15%;
        }
        &.players_remaining {
            width: 30%;
        }
    }
}

#mm_team_roster_container, #player_scoring_container {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 9999;
    width: 60%;
    background-color: #FFF;
    margin-left: -40%;
    border: 10px solid rgba(0, 0, 0, 0.5);

    -moz-background-clip: border;     /* Firefox 3.6 */
    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    -moz-background-clip: content;     /* Firefox 3.6 */
    -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
    background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

    table {
        width: 100%;
        margin: 0;
    }
}

#top_perf_container_header, #top_scorer_container_header {
    padding: 2px 0px 2px 0px;
    margin: 0 0 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #000;
}

#top_scorer_container_header {
    font-size: 20px;
}

.top_perf_table_headers {
    width: 100%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    background: #F9F9F9;
    th {
        padding: 10px;
        text-transform: uppercase;
        font-size: 11px;
        text-align: center;
        &.rank {
            width: 10%;
        }
        &.position {
            width: 10%;
        }
        &.player {
            width: 20%;
        }
        &.school {
            width: 20%;
        }
        &.team_name {
            width: 20%;
        }
        &.points, &.games {
            width: 10%
        }
    }
}

.top_perf_table, .top_scorer_table{
    height: 320px;
    overflow: auto;
    display: block;
    width: 100%;
    margin-bottom: 0px;
    tbody {
        width: 100%;
        display: table;
    }
    td {
        padding: 10px 2px;
        text-align: center;
        width: auto;
        &.rank {
            width: 10%;
        }
        &.position {
            width: 10%;
        }
        &.player {
            width: 20%;
        }
        &.school {
            width: 20%;
        }
        &.team_name {
            width: 20%;
        }
        &.points, &.games {
            width: 10%;
        }
    }
    tr {
        border-bottom: 1px solid #E5E5E5;
        &.even {
            background-color: #EEE;
        }
        &.odd {
            background-color: #F5F5F5;
        }
        &:hover {
            background-color: #FFF;
        }
    }
}
.top_scorer_table {
    height: 720px;
}

/* Player Scoring */

div.player_scoring_list {
    width: 50%;
    min-height: 140px;
    overflow: auto;
}

.player_scoring_table_headers {
    width: 100%;
    th {
        padding: 5px;
        text-align: center;
        background-color: #EEEEEE;
        &.name {
            width: 25%;
        }
        &.position, &.ppg {
            width: 10%;
        }
        &.school {
            width: 25%;
        }
        &.round {
            width: 10%;
        }
        &.points {
            width: 30%;
        }
    }
}

.player_scoring_table {
    background-color: #fff;
    border: 0px solid;
    width: 100%;
    tbody {
        width: 100%;
        display: table;
    }
    td {
        width: auto;
        padding: 5px 2px;
        text-align: center;
        &.name {
            width: 24%;
            text-align: left;
        }
        &.position, &.ppg {
            width: 10%;
        }
        &.school {
            width: 24%;
        }
        &.round {
            width: 10%;
            font-weight: bold;
        }
        &.points {
            width: 5%;
            font-weight: bold;
        }
    }
}