#standings_container {
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#standings_container_header {
    padding: 2px 0px 2px 0px;
    margin: 0px;
    font-size: 12px;
    background-color: #2A4D75;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.standings_list {
    height: 430px;
    overflow: auto;
    width: 400px;
}

.standings_table_headers {
    width: 100%;
    border-bottom: 2px solid #000;
    th {
        &.position {
            width: 10%;
        }
        &.team_name {
            width: 30%;
        }
        &.points, &.players_lost {
            width: 20%;
        }
    }
}

.standings_table {
    width: 100%;
    background-color: #fff;
    th.games {
        width: 40px;
    }
    td {
        width: auto;
        padding: 10px 2px;
        text-align: center;
        &.position {
            width: 10%;
        }
        &.team_name {
            width: 30%;
        }
        &.points {
            width: 20%;
        }
        &.players_lost {
            width: 20%;
        }
    }
    tr {
        border-bottom: 1px solid #E5E5E5;
        &.even {
            background-color: #EEE;
        }
        &.odd {
            background-color: #F5F5F5;
        }
        &:hover {
            background-color: #FFF;
        }
    }
}

#mm_team_roster_container, #player_scoring_container {
    position: absolute;
    top: 100px;
    left: 220px;
    z-index: 9999;
    padding: 0px;
}

#top_perf_container_header {
    padding: 2px 0px 2px 0px;
    margin: 0px;
    font-size: 12px;
    background-color: #2A4D75;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.top_perf_table_headers {
    width: 100%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    th {
        &.position {
            width: 15%;
        }
        &.player, &.team_name {
            width: 30%;
        }
    }
}

.top_perf_table {
    width: 100%;
    th.games {
        width: 40px;
    }
    td {
        width: auto;
        padding: 10px 2px;
        text-align: center;
        &.position {
            width: 15%;
        }
        &.player, &.team_name {
            width: 30%;
        }
    }
    tr {
        border-bottom: 1px solid #E5E5E5;
        &.even {
            background-color: #EEE;
        }
        &.odd {
            background-color: #F5F5F5;
        }
        &:hover {
            background-color: #FFF;
        }
    }
}

/* Player Scoring */

div.player_scoring_list {
    width: 450px;
    height: 140px;
    overflow: auto;
}

.player_scoring_table_headers {
    border: 0px solid #000;
    color: #fff;
    background-color: #2E4764;
    th {
        &.name {
            width: 120px;
        }
        &.position, &.ppg {
            width: 50px;
        }
        &.school {
            width: 120px;
        }
        &.round {
            width: 40px;
        }
        &.points {
            width: 50px;
        }
    }
}

.player_scoring_table {
    background-color: #fff;
    border: 0px solid;
    td {
        width: auto;
        padding: 2px;
        text-align: center;
        &.name {
            width: 130px;
            text-align: left;
        }
        &.position, &.ppg {
            width: 50px;
        }
        &.school {
            width: 130px;
        }
        &.round {
            width: 40px;
            font-weight: bold;
        }
        &.points {
            width: 50px;
            font-weight: bold;
        }
    }
}