html, body {
    background-color: #EEE;
    background-repeat: repeat-x;
    background-position: center 50px;
    color: #333;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
}

a {
    color: #E7772D;
    &:link, &:visited {
        color: #E7772D;
    }
    &:hover {
        color: SaddleBrown;
    }
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: #242424;
    margin: 0 0 20px;
}

h2 {
    font-size: 16px;
    color: #999;
    margin: 20px 0 10px;
    i {
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
    }
}

strong {
    color: #242424;
}

input {
    &[type=text], &[type=password] {
        background: white asset-url("bg_field.png", image) 0 0 repeat-x;
        color: #242424;
        font-weight: bold;
        font-size: 16px;
        border: 1px solid #CCC;
        padding: 7px 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: 90%;
    }
    &[type=submit] {
        cursor: pointer;
    }
}

textarea {
    background: white asset-url("bg_field.png", image) 0 0 repeat-x;
    color: #242424;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #CCC;
    padding: 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}


.clear {
    clear: both;
}

#wrapper {
    margin: 0px auto;
    height: 100%;
    display: block;
}

#login_wrapper {
    padding: 20px;
    margin: 0 auto;
    width: 500px;
    background: #e8e9e6;
    border: 1px solid #e0e0dd;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 #FFFFFF;
    h2 {
        font-weight: 200;
        text-align: center;
        text-shadow: 0 1px 0 #FFFFFF;
        margin: 0 0 20px;
        font-size: 26px;
    }
    label {
        font-size: 13px;
        line-height: 18px;
        padding-top: 6px;
    }
    .login_field {
        margin-bottom: 20px;
    }
}

.btn {
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;

    &:hover {
        background-position: 0 -15px;
        color: #333;
        text-decoration: none;
    }
    &:focus {
        outline: 1px dotted #666;
    }
    &.left {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: 0;
    }
    &.middle{
        border-left-color: #F4F4F4;
        border-radius: 0 0 0 0;
        margin-left: 0;
        margin-right: 0;
    }
    &.right {
        border-bottom-left-radius: 0;
        border-left-color: #F4F4F4;
        border-top-left-radius: 0;
        margin-left: 0;
    }
    &.on{
        border-color: #BBBBBB;
        box-shadow: 0 0 10px #D4D4D4 inset;
        background: #EEE;
        color: #999;
    }
}

/* Navigation Styles*/

#nav_container {
    display: block;
    width: 15%;
    background: asset-url("bg_menu_wood.png", image) right 0 repeat-y;
    float: left;
    height: 100%;
}

#logo {
    display: block;
    width: 180px;
    height: 61px;
    background: asset-url("logo.png", image) 0 0 no-repeat;
    margin: 10px auto;
}

#logo_big {
    display: block;
    width: 215px;
    height: 61px;
    background: asset-url("logo_big.png", image) 0 0 no-repeat;
    margin: 5% 0 3% 30%;
}

#main_nav {
    display: block;
    border-top: 1px solid #bc3218;
    border-bottom: 1px solid #ff755b;
    li {
        list-style-type: none;
        position: relative;
    }
    a, span.current_main_nav {
        padding: 16px;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 1px 1px #000;
        display: block;
    }
    a {
        background: asset-url("bball_texture.jpg", image) 0 0 repeat;
        border-top: 1px solid #ff755b;
        border-bottom: 1px solid #bc3218;
        display: block;
        color: #FFF;
    }
    a:hover {
        background: asset-url("bball_texture_dark.jpg", image) 0 0 repeat;
        /*opacity: 0.8;*/
        border-top: 1px solid #5d5d5d;
        border-bottom: 1px solid #5d5d5d;
        color: #FFF;
    }
    span.current_main_nav {
        background: #000;
        border-top: 1px solid #5d5d5d;
        border-bottom: 1px solid #5d5d5d;
        color: #FFF;
    }

    span.current_main_nav_tip {
        background: asset-url("menu_active.png", image) 0 0 no-repeat;
        position: absolute;
        z-index: 10;
        right: -26px;
        top: 0;
        display: block;
        width: 26px;
        height: 52px;
    }
}

.current_user {
    float: right;
    display: block;
    width: 50%;
    margin-top: 6px;
    padding: 2px 10px 3px 10px;
    p {
        font-size: 12px;
        color: #FFF;
        text-shadow: 0 2px #000;
    }
    a {
        font-size: 11px;
        color: #56453F;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

#admin_nav {
    float: right;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    font-size: 10px;
    color: #fff;
    /*	background-color: #000;*/
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    span {
        padding: 0px 2px 0px 2px;
        a {
            padding: 2px 8px 2px 8px;
            margin: 0px 5px 0px 5px;
            background-color: #2A4D75;
            color: #fff;
            text-decoration: none;
            -moz-border-radius: 8px 8px 8px 8px;
            border-radius: 8px 8px 8px 8px;
            -webkit-border-top-right-radius: 8px;
            -webkit-border-top-left-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
            -webkit-border-bottom-left-radius: 8px;
            &:link, &:visited {
                color: #fff;
                text-decoration: none;
            }
            &:hover {
                color: #fff;
                background-color: #E06E39;
                text-decoration: none;
            }
        }
    }
}

#avatar {
    padding: 10px;
    display: block;
    float: left;
    img {
        border: 1px solid #000;
        width: 50px;
    }
}

#main_container {
    position: relative;
    display: block;
    width: 85%;
    float: left;
    height: 855px;
}

.left_container, .right_container {
    float: left;
    margin: 0px;
    padding: 1% 3%;
    width: 44%;
    height: 100%;
}

.left_container {
    background: #f9f9f9;
}

.right_container {
    background: #fff;
}

.roster_container {
  float: left;
  margin: 0px;
  padding: 1% 3%;
  width: 100%;
  height: 100%;
}

.module_header {
    padding: 10px;
    color: #242424;
    font-weight: bold;
    font-size: 26px;
    text-align: left;
}

.module{
    display: block;
    width: 700px;
}
.module_container {
    padding: 5px 5px 15px;
}

#notice {
    padding: 5px 5px 6px 5px;
    margin: 0px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#alert {
    padding: 5px 5px 6px 5px;
    margin: 0px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    background-color: #E0AFB0;
}

#notice {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    background-color: #CBE3C2;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    color: #000;
    display: table;
    label {
        color: #000;
        background-color: #e6e6e6;
    }
}

#error_explanation {
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0px;
        background-color: red;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

div {
    &.field, &.actions {
        margin-bottom: 10px;
    }
}

.form_field{
    display: block;
    margin: 0 0 10px;
    label {
        font-size: 10px;
        color: #666;
        display: block;
    }
}

.pad {
    padding: 10px;
}

#flash {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
}

.flash_notice, .flash_error, .flash_alert {
    position: relative;
    .icon_close {
        position: absolute;
        z-index: 10000;
        display: block;
        width: 30px;
        height: 30px;
        top: -10px;
        right: -10px;
        background: asset-url("icon_close.png", image) no-repeat 0 0;
    }
}

.flash_notice {
    background: asset-url("flashmessage_notice.png", image) no-repeat right bottom;
    height: 59px;
    padding-right: 30px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.flash_alert, .flash_error {
    background: asset-url("flashmessage_error_alert.png", image) no-repeat scroll right bottom transparent;
    display: inline-block;
    height: 59px;
    padding-right: 30px;
}

.flash_notice span, .flash_alert span, .flash_error span {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 59px;
    padding: 0 10px 0 70px;
    text-shadow: 0 1px 0 #636E10;
}

.flash_notice span {
    background: asset-url("flashmessage_notice.png", image) no-repeat 0 0;
}

.flash_alert span, .flash_error span {
    background: asset-url("flashmessage_error_alert.png", image) no-repeat 0 0;
}

.hideText {
    text-indent: -2000px;
    font-size: 0em;
    overflow: hidden;
}

.float-right{
    float: right !important;
}

.float-left{
    float: left !important;
}

.blue{
    background: #4C8FFD !important;
    color: #FFF !important;
}

.clearfix {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}