html, body {
    background-color: #EEE;
    background-repeat: repeat-x;
    background-position: center 50px;
    color: #333;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
}

a {
    color: #E7772D;
    &:link, &:visited {
        color: #20A1E5;
    }
    &:hover {
        color: #20A1E5;
    }
}

button {
    border: none;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: #242424;
    margin: 0 0 20px;
}

h2 {
    font-size: 16px;
    color: #999;
    margin: 20px 0 10px;
    i {
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
    }
}

strong {
    color: #242424;
}

input {
    &[type=text], &[type=password] {
        color: #242424;
        font-weight: normal;
        font-size: 16px;
        border: 1px solid #CCC;
        padding: 7px 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    &[type=submit] {
        cursor: pointer;
    }
}

textarea {
    background: white asset-url("bg_field.png") 0 0 repeat-x;
    color: #242424;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #CCC;
    padding: 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

.no-padding { padding: 0 !important; }

.p-left-none  { padding-left: 0 !important; }
.p-right-none { padding-right: 0 !important; }

.padding-sm { padding: 10px; }
.padding-md { padding: 20px; }
.padding-lg { padding: 40px; }

.clear {
    clear: both;
}

#wrapper {
    margin: 0px auto;
    height: 880px;
    display: block;
    background: #000;
}

#login_wrapper {
    padding: 20px;
    background: #e8e9e6;
    border: 1px solid #e0e0dd;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 #FFFFFF;
    h2 {
        font-weight: 200;
        text-align: center;
        text-shadow: 0 1px 0 #FFFFFF;
        margin: 0 0 20px;
        font-size: 26px;
    }
    label {
        font-size: 13px;
        line-height: 18px;
        padding-top: 6px;
    }
    .login_field {
        margin-bottom: 20px;
    }
}

.btn-default.on {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#logo {
    display: block;
    width: 210px;
    height: 120px;
    background: asset-url("mm_pc_logo.png") 0 0 no-repeat;
    margin: 20px 20px 30px 10px;
}

#logo_big {
    display: block;
    height: 126px;
    background: asset-url("player_challenge_login.png") center center no-repeat;
    margin: 5% 0 3%;
}

/* Navigation Styles*/

#top_nav {
    display: none;
    #logo {
        margin: 10px 0 10px 40px;
    }

    #sidebar-toggle {
        background: #E7772D;;
        margin: 25px 30px 0 0;
    }
}

#mobile_nav {
    li {
        font-size: 12px;
        text-transform: uppercase;

        .current_main_nav {
            padding: 10px 20px;
            background: #4F3F3A;
            display: block;
            color: #FFF;
        }

        a {
            display: block;
            padding: 10px 20px;
            background: #F7F7F7;

            &:hover {
                text-decoration: none;
                background: #E7772D;
                color: #FFF;
            }
        }
    }
}

#nav_container {
    display: block;
    background: asset-url("bg_menu_wood.png") right 0 repeat-y;
    /*background-color: #000;*/
    min-height: 100%;
    max-width: 250px;
    padding: 0;
}

#nav_wrapper {
    display: block;
    max-width: 250px;
    padding: 0;
}

#main_nav {
    display: block;
    /*border-top: 1px solid #bc3218;*/
    /*border-bottom: 1px solid #ff755b;*/
    li {
        list-style-type: none;
        position: relative;
    }
    a, span.current_main_nav {
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
        display: block;
    }
    a {
        display: block;
        color: #fff;
        margin: 10px 30px 10px 30px;
        text-align: center;
        border-radius: 10px;
        background: image-url("bball_texture.png") 0 0 repeat;
        border: outset 2px #A84120;
        text-transform: uppercase;
    }
    a:hover {
        background: image-url("bball_texture_faded.png") 0 0 repeat;
        border: outset 2px #A84120;
        color: #000;
        text-decoration: none;
    }
    span.current_main_nav {
        background: image-url("bball_texture_light.png") 0 0 repeat;
        margin: 10px 30px 10px 30px;
        color: #000;
        text-align: center;
        border-radius: 10px;
        text-transform: uppercase;
    }

    /*span.current_main_nav_tip {
        background: asset-url("menu_active_orange_bball.png") 0 0 no-repeat;
        position: absolute;
        z-index: 10;
        margin-top: 1px;
        margin-bottom: 1px;
        right: -22px;
        top: 0;
        display: block;
        width: 32px;
        height: 54px;
    }*/
}

#admin_container {  
    margin: 0;
    padding: 20px 20px;
    min-width: 100%;
    min-height: 100%;
    background: #fff;
}

.current_user {
    margin-top: 0px;
    padding: 5px 5px 5px 0px;
    text-align: right;
    float: right;
    p {
        font-size: 14px;
        color: #fff;
    }
    a {
/*       text-decoration: underline;
        &:hover {
            text-decoration: none;
        }*/
    }
}

#main_container {
    position: relative;
    display: block;
    min-height: 100%;
    padding: 0;
}

.left_container, .right_container {
    margin: 0;
    padding: 20px 20px;
    min-height: 100%;
}

.left_container {
    background: #fff;
}

.right_container {
    background: #f9f9f9;
}

#draft_page_container {

}

.module_header {
    padding: 10px;
    color: #242424;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.module{
    display: block;
    width: 100%;
}
.module_container {
    padding: 5px 5px;
}

.user_profile_container {
    height: 850px;
    background: #f9f9f9;
    margin: 0;
    padding: 20px 20px;
}

#notice {
    padding: 5px 5px 6px 5px;
    margin: 0px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#alert {
    padding: 5px 5px 6px 5px;
    margin: 0px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    background-color: #E0AFB0;
}

#notice {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    background-color: #CBE3C2;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    color: #000;
    display: table;
    label {
        color: #000;
        background-color: #e6e6e6;
    }
}

#error_explanation {
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0px;
        background-color: red;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

div {
    &.field, &.actions {
        margin-bottom: 10px;
    }
}

.form_field{
    display: block;
    margin: 0 0 10px;
    label {
        font-size: 10px;
        color: #666;
        display: block;
    }
}

.pad {
    padding: 10px;
}

/*Flash*/

#flash {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10000;
    max-width: 400px;
    .message {
        margin: 10px 0;
    }
}

.flash_notice, .flash_error, .flash_alert, .flash_warning, .flash_info {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    .icon_close {
        position: absolute;
        z-index: 11000;
        display: block;
        width: 30px;
        height: 30px;
        top: -10px;
        right: -10px;
        background: asset-url("icon_close.png") no-repeat 0 0;
    }
}

.flash_notice {
    background: #5BB95C;
    border: 1px solid #6f7b13;
}

.flash_alert, .flash_error {
    background: #D9534F;
    background: -moz-linear-gradient(top,  #D9534F 0%, #f24a4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9534F), color-stop(100%,#f24a4a));
    background: -webkit-linear-gradient(top,  #D9534F 0%,#f24a4a 100%);
    background: -o-linear-gradient(top,  #D9534F 0%,#f24a4a 100%);
    background: -ms-linear-gradient(top,  #D9534F 0%,#f24a4a 100%);
    background: linear-gradient(to bottom,  #D9534F 0%,#f24a4a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45858', endColorstr='#f24a4a',GradientType=0 );
    border: 1px solid #A90A2C;
}

.flash_warning {
    background: #ffaa0b;
    background: -moz-linear-gradient(top,  #ffaa0b 0%, #f89406 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaa0b), color-stop(100%,#f89406));
    background: -webkit-linear-gradient(top,  #ffaa0b 0%,#f89406 100%);
    background: -o-linear-gradient(top,  #ffaa0b 0%,#f89406 100%);
    background: -ms-linear-gradient(top,  #ffaa0b 0%,#f89406 100%);
    background: linear-gradient(to bottom,  #ffaa0b 0%,#f89406 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa0b', endColorstr='#f89406',GradientType=0 );
    border: 1px solid #754500;
}

.flash_info {
    background: #1f95b8;
    background: -moz-linear-gradient(top,  #1f95b8 0%, #2f96b4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f95b8), color-stop(100%,#2f96b4));
    background: -webkit-linear-gradient(top,  #1f95b8 0%,#2f96b4 100%);
    background: -o-linear-gradient(top,  #1f95b8 0%,#2f96b4 100%);
    background: -ms-linear-gradient(top,  #1f95b8 0%,#2f96b4 100%);
    background: linear-gradient(to bottom,  #1f95b8 0%,#2f96b4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f95b8', endColorstr='#2f96b4',GradientType=0 );
    border: 1px solid #0F5C72;
}

.flash_notice span, .flash_alert span, .flash_error span,
.flash_warning span, .flash_info span {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 20px 30px 20px 70px;
    text-shadow: 0 1px 0 #636E10;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 15px center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.flash_notice span, .flash_notice_billing span {
    border-top: 1px solid #D0D98B;
    background-image: asset-url("checkmark_green.png");
}

.flash_alert span, .flash_error span {
    border-top: 1px solid #F9A4A4;
    background-image: asset-url("icon_flash_alert.png");
}

.flash_warning span {
    border-top: 1px solid #ffcb80;
    background-image: asset-url("icon_flash_warning.png");
}

.flash_info span {
    border-top: 1px solid #52ABC5;
    background-image: asset-url("icon_flash_info.png");
}

.hideText {
    text-indent: -2000px;
    font-size: 0em;
    overflow: hidden;
}

.float-right{
    float: right !important;
}

.float-left{
    float: left !important;
}

.blue{
    background: #4C8FFD !important;
    color: #FFF !important;
}

.clearfix {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.navbar-toggle {
    margin: 3px 0 0;
    .icon-bar {
      display: block;
      width: 18px;
      height: 2px;
      margin-bottom: 3px;
      background-color: #FFF;
      border-radius: 1px;
      -moz-border-radius: 1px;
      -webkit-border-radius: 1px;
      &:last-child {
        margin-bottom: 0;
      }
    }
}

#draft_order {
    padding: 0px;
}

.no-margin {
    margin: 0 !important;
}

:focus {
    outline: none !important;
}

a.btn-danger {
    color: #FFF;
}

@media (max-width: 991px) {
    #nav_container {
        display: none;
    }
    #top_nav {
        display: block;
    }
}

@media (min-width: 991px) {
    #mobile_nav {
        display: none;
    }
}