#ncaa_players_container {
    padding: 5px;
}

div.players_list {
    max-height: 400px;
    height: auto;
    overflow: auto;
    width: 450px;
}

.players_table_headers {
    width: 450px;
    border: 0px solid #000;
    color: #fff;
    background-color: #2E4764;
    th {
        /*	width: ;*/
    }
}

.players_table {
    width: 450px;
    background-color: #fff;
    border: 0px solid;
    td {
        width: auto;
        padding: 2px 2px 2px 2px;
        text-align: center;
        &.name {
            width: 130px;
            text-align: left;
        }
    }
}

.player_search_container {
    padding: 5px 5px 5px 5px;
}

.position_center {
    color: #000;
}

.position_forward {
    color: orange;
}

.position_guard {
    color: #21CCF7;
}