#ncaa_teams_container {
    margin: 0px;
    height: 720px;
    overflow: auto;
}

.teams_table {
    display: block;
    width: 100%;
    thead{
        display: table;
        width: 100%;
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        background-color: #FFF;
        th {
            padding: 10px 0;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: normal;
        }
    }
    tbody {
        display: table;
        width: 100%;
    }
    td {
        padding: 10px 5px;
        text-align: left;
    }
}