.players_table {
    display: block;
    width: 100%;
    thead, tbody {
        display: table;
        width: 100%;
    }
    thead{
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        background-color: #F9F9F9;
        th {
            padding: 10px 0;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: normal;
        }
    }
    td {
        padding: 10px 5px;
        text-align: center;
    }
}

.player_search_container {
    padding: 5px 5px 5px 5px;
}

.position_center {
    color: #000;
}

.position_forward {
    color: orange;
}

.position_guard {
    color: #21CCF7;
}